@import url("./fonts.css");

:root {
  --primary-color: #6c63ff;
  --primary-color-hover: #6428f0dc;
  --secondary-color: #7e77ff;
  --background-color: #121212;
  --container-background-color: #1d1d1d;
  --content-background-color: #2b2b2b96;
  --input-background-color: #2b2b2b;
  --text-color: #ffffff;
  --border-color: rgba(255, 255, 255, 0.4);
  --border-color-hover: #ffffff;
  --switch-color: #ccc;
  --switch-focus-shadow: 0 0 1px var(--primary-color);

  --switch-size: 54px; /* Adjust this variable to change the size of the switch */
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: var(--background-color);
}

input:focus,
select:focus,
textarea:focus {
  outline: none;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--container-background-color);
  min-height: 100%;
  margin: 0 auto;
  width: 40%;
  transition: 0.2s ease-in-out;
}

#content {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
  overflow: auto; /* Enable scrolling if content exceeds container */
  flex-shrink: 0; /* Prevent content from shrinking */
}

#password_container {
  width: 100%;
}

.highlight {
  color: var(--secondary-color);
}

header {
  width: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

header h1 {
  font-family: "Roboto";
  letter-spacing: 3px;
  font-weight: 300;
  color: var(--text-color);
}

#logo {
  margin-right: 10px;
  width: 32px;
}

#copied_popup {
  display: none;
  position: absolute;
  font-family: "IBMPlexMono";
  background-color: var(--primary-color);
  color: var(--text-color);
  padding: 8px;
  border-radius: 0.3rem;
  animation: fadeUp 1s ease-in-out;
}

@keyframes fadeUp {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }
  100% {
    opacity: 0;
    transform: translateY(-30px);
  }
}

#password_output {
  width: 100%;
  font-size: 1.2rem;
  padding: 0.5rem;
  border: 0px;
  background: transparent;
  border-radius: 0.2rem;
  color: var(--text-color);
  text-align: center;
  margin-bottom: 0.8rem;
  font-family: "Roboto";
  user-select: none;
  -moz-user-select: none;
  -webkit-text-select: none;
  -webkit-user-select: none;
  cursor: pointer;
  letter-spacing: 1.5px;
  border: 1px solid var(--border-color);
  transition: 0.2s ease-in-out;
  white-space: nowrap;
  overflow: hidden;
}

#password_output:hover {
  border: 1px solid var(--border-color-hover);
}

#password_button {
  font-size: 1.2rem;
  border: 0;
  background: var(--primary-color);
  padding: 0.5rem;
  cursor: pointer;
  border-radius: 0.2rem;
  color: var(--text-color);
  width: 100%;
  font-family: "IBMPlexMono";
  transition: 0.2s ease-in-out;
}

#password_button:hover {
  background: var(--primary-color-hover);
}

label {
  margin: 0 1rem;
}

#settings_variables {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: var(--text-color);
  vertical-align: middle;
  gap: 10px;
  width: 100%;
  margin: 0 auto;
  text-align: left;
  font-family: "Roboto";
}

.settingContainer {
  height: 3.6rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between; /* Align horizontal */
  align-items: center; /* Align vertical */
  background-color: var(--content-background-color);
  border-radius: 0.3rem;
}

.settingContainer label .checkbox:not() {
  flex: 1; /* Take up all available space */
}

.textInput {
  width: 50%;
  height: 100%;
  font-size: 1.2rem;
  padding: 0.5rem;
  border: 0px;
  background: var(--input-background-color);
  border-radius: 0 0.2rem 0.2rem 0;
  color: var(--text-color);
  text-align: center;
  font-family: "Roboto";
}

footer {
  font-family: "IBMPlexMono";
  text-align: center;
  bottom: 0px;
  color: var(--text-color);
}

.switch {
  position: relative;
  display: inline-block;
  width: var(--switch-size);
  min-width: var(--switch-size);
  height: calc(
    var(--switch-size) * 0.566666
  ); /* Maintain aspect ratio for height */
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--switch-color);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.slider:before {
  position: absolute;
  content: "";
  height: calc(
    var(--switch-size) * 0.433333
  ); /* Maintain aspect ratio for height */
  width: calc(
    var(--switch-size) * 0.433333
  ); /* Maintain aspect ratio for width */
  left: calc(
    var(--switch-size) * 0.066666
  ); /* Adjust positioning for the smaller size */
  bottom: calc(
    var(--switch-size) * 0.066666
  ); /* Adjust positioning for the smaller size */
  background-color: var(--text-color);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

input:checked + .slider {
  background-color: var(--primary-color);
}

input:focus + .slider {
  box-shadow: var(--switch-focus-shadow);
}

input:checked + .slider:before {
  -webkit-transform: translateX(calc(var(--switch-size) * 0.433333));
  -ms-transform: translateX(calc(var(--switch-size) * 0.433333));
  transform: translateX(calc(var(--switch-size) * 0.433333));
}

/* Rounded sliders */
.slider.round {
  border-radius: var(--switch-size);
}

.slider.round:before {
  border-radius: 50%;
}

@media only screen and (max-width: 1600px) {
  #container {
    width: 50%;
  }
}

@media only screen and (max-width: 1200px) {
  #container {
    width: 80%;
  }

  .settingContainer label {
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 800px) {
  #container {
    width: 100%;
  }

  #content {
    width: 100%;
  }

  .settingContainer label {
    font-size: 0.9rem;
  }
}
